<div class="chat-nav">
  <div class="nav-item">
    <a [routerLink]="[ '/main' ]" routerLinkActive="active">
      <i nz-icon type="wechat" theme="outline"></i>
    </a>
  </div>
  <div class="nav-item">
    <a [routerLink]="[ '/friends' ]" routerLinkActive="active">
      <i nz-icon type="user" theme="outline"></i>
    </a>
  </div>
  <div class="nav-item">
    <a [routerLink]="[ '/setting' ]" routerLinkActive="active">
      <i nz-icon type="setting" theme="outline"></i>
    </a>
  </div>
</div>