<div class="main-container">
  <div class="message-list-container">
    <app-search></app-search>
    <ul class="chat-list">
      <li class="chat-item" *ngFor="let item of data.latelyChats" (click)="switchChat(item.userId)" [ngClass]="{'active': data.chatUserId === item.userId}">
        <nz-badge [nzCount]="item.count">
          <nz-avatar [nzSize]="40" [nzSrc]="avatarUrl + item.userId"></nz-avatar>
        </nz-badge>
        <div class="chat-body">
          <div class="chat-title">{{ item.nickName }}</div>
          <div class="chat-content">{{ item.body }}</div>
        </div>
        <div class="chat-time">{{ item.time | date: 'HH:mm' }}</div>
      </li>
    </ul>
    <app-nav></app-nav>
  </div>
  <div class="message-box-container" *ngIf="data.chatUserId">
    <div class="chat-box-header">
      <div class="header-user-info">
        <div class="user-info-name">{{ data.friendMap.get(data.chatUserId).nickName }}</div>
        <div class="user-info-dynamic">喵喵喵···🐱🐱🐱</div>
      </div>
      <div class="header-more">...</div>
    </div>
    <div class="chat-box-body">
      <ul class="chat-list">
        <li class="chat-item" *ngFor="let item of (data.messageRecord.get(data.chatUserId) || [])" [ngClass]="{'right': item.sender === data.user.id}">
          <div class="chat-avatar">
            <img [src]="avatarUrl + item.sender">
          </div>
          <div class="chat-content">
            {{ item.body }}
          </div>
          <div class="chat-sending">
            <nz-spin nzSimple [nzSpinning]="item.sending" [nzDelay]="500"></nz-spin>
            <i nz-icon type="redo" theme="outline" style="font-size: 18px; color: red; cursor: pointer;" title="重新发送" *ngIf="!item.success"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="chat-box-footer">
      <textarea nz-input 
        [nzAutosize]="{ minRows: 1, maxRows: 6 }" 
        class="footer-input" 
        placeholder="Sending content" 
        [(ngModel)]="sendContent"
        (keydown)="onKeydown($event)">
      </textarea>
      <div class="footer-action">
        <button nz-button nzType="primary" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>