<div class="friend-container">
  <div class="friend-list-container">
    <app-search></app-search>
    <ul class="friend-list">
      <li class="friend-item" *ngFor="let item of data.friends" (click)="switchFriend(item)" [ngClass]="{'active': friend ? item.id === friend.id : false}">
        <nz-badge>
          <nz-avatar [nzSize]="40" [nzSrc]="avatarUrl + item.id"></nz-avatar>
        </nz-badge>
        <div class="friend-body">
          <div class="friend-title">{{ item.nickName }}</div>
        </div>
      </li>
    </ul>

    <app-nav></app-nav>
  </div>
  <div class="friend-detail-container" *ngIf="friend">
    <div class="friend-detail">
      <div class="header">
        <div class="info">
          <div class="info-name">{{ friend.nickName }}</div>
          <div class="info-dynamic">喵喵喵。。。😝😝😝</div>
        </div>
        <div class="avatar">
          <img [src]="avatarUrl + item.id">
        </div>
      </div>

      <div class="detail">
        <div>
          <label>备注</label>
          <span>Cat🐱</span>
        </div>
        <div>
          <label>地区</label>
          <span>福建 泉州</span>
        </div>
      </div>
      <div class="action">
          <button nz-button nzType="primary" (click)="sendMsg()">Send Message</button>
      </div>
    </div>
  </div>
</div>